.principal {
  display: block;
  margin: 0px auto;
}
h2{
  text-align: center;
}
.secao img{
  margin: 20px;
  height: 300px;
  width: 250px;
  cursor: pointer;
}
.secao p{
  text-align: center;
  width: 300px;
  margin-top: -10px;
}

.principal {
  cursor: pointer;
}