<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes-Filmes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <ion-button routerLink="/home" shape="round" fill="clear">Voltar</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="4">
        <ion-img class="principal" src="{{ filme.photo_link }}"></ion-img>
      </ion-col>
      <ion-col size-xs="12"  size-md="6">
        
          
          <ion-list>
            <ion-item>
              <ion-label><b>Titulo: {{filme.title}}</b></ion-label>
            </ion-item>
            <ion-item>
              <ion-label><b>Categoria:{{filme.category_id}} </b> Filme</ion-label>
            </ion-item>
            <ion-item>
              <ion-label><b>Genero:{{filme.genre}} </b></ion-label>
            </ion-item>
            <ion-item>
              <ion-label><b>Duração:{{filme.duration}} </b></ion-label>
            </ion-item>
          </ion-list>
          
          <ion-col size-md="12">
            <ion-list-header>
              <ion-label><b>Descrição</b></ion-label>
            </ion-list-header>
            <ion-list>
              <ion-item>
                {{filme.description}}
              </ion-item>
            </ion-list>
          </ion-col>

          


      </ion-col>
    </ion-row>
    <ion-row>
      
    </ion-row>
  </ion-grid>

</ion-content>